$remoteMarginLeft: 32px;
$remoteWidth: 207px;
$remoteHeigh: 800px;

#tv-remote-wrapper {
	width: $remoteWidth;
	float: left;
}
#tv-command-input {
	display: block;
	margin: auto;
	text-align: center;
}
#tv-remote {
	//float: right;
	height: $remoteHeigh;
	width: $remoteWidth;
	button {
		background-color: Transparent;
	}
	#tv-input-mic-power{
		position: relative;
		left: $remoteMarginLeft;
		top: 32px;
		button {
			margin-right: 14px;
			margin-top: 1px;
			border-radius: 50%;
			height: 37px;
			width: 37px;
		}
	}
	#tv-numpad{
		position: relative;
		left: $remoteMarginLeft;
		top: 74px;
		button {
			margin: 5px 10px 5px 0px;
			border-radius: 30%;
			height: 25px;
			width: 40px;
		}
	}

	#tv-volume{
		width: 45px;
		height: 85px;
		border: 20px;
		border-color: red;
		//background-color: black;
		border-color: white;
		border-radius: 35%;
		position: relative;
		left: $remoteMarginLeft;
		top: 324px;
		button {
			margin: 9px 0px 10px 8px;
			border-radius: 40%;
			height: 25px;
			width: 32px;
		}
	}

	#tv-entertainment{
		position: relative;
		left: $remoteMarginLeft;
		top: 0px;
		button {
			margin: 0px 4px 0px 0px;
			border-radius: 20%;
			height: 25px;
			width: 70px;
		}
	}

	#tv-navigation{
		position: relative;
		left: $remoteMarginLeft + 20px;
		top: 75px;
		button {
			margin: 0px 5px 0px 0px;
			border-radius: 25%;
			height: 26px;
			width: 30px;
		}
		#nav-up{
			margin: 0px 0px 12px 38px
		}
		#nav-down {
			margin: 12px 0px 0px 38px
		}
	}

	#tv-action-menu {
		position: absolute;
		left: $remoteMarginLeft + 20px;
		top: 400px;
		button {
			margin: 0px 5px 0px 0px;
			border-radius: 25%;
			height: 26px;
			width: 30px;
		}
		#action-actionMenu {
			position: relative;
			left: $remoteMarginLeft + 20px;
		}
		#action-home, #action-back {
			position: relative;
			left: -20px;
			margin: 120px 95px 0px 0px;
		}
	}

	#tv-other{
		#vol-mute {
			position: relative;
			top: 163px;
			left: $remoteMarginLeft + 52px;
			width: 42px;
			height: 20px;
		}
	}


	background-image: url("../img/sony-remote.png");
	background-size: cover;
	background-repeat: no-repeat;
}
